section.presentWrap
  h1.presentWrap__title Angle Move Button
  .presentWrap__buttonsBlock

    button.angleMoveBtn
      span.angleMoveBtn__text._start Hover
      span.angleMoveBtn__text._end Button
      .angleMoveBtn__angle._top_left
      .angleMoveBtn__angle._top_right
      .angleMoveBtn__angle._bottom_left
      .angleMoveBtn__angle._bottom_right