section.presentWrap
  h1.presentWrap__title Balloon Button
  .presentWrap__buttonsBlock

    button.balloonBtn
      .balloonBtn__text._start Hover
      .balloonBtn__circleWrap
      .balloonBtn__text._end Button