section.presentWrap
  h1.presentWrap__title Border Fill Buttons
  .presentWrap__buttonsBlock

    button.borderFillBtn
      span.borderFillBtn__text Hover
    button.borderFillBtn._radius
      span.borderFillBtn__text Hover