section.presentWrap
  h1.presentWrap__title Circles Down Buttons
  .presentWrap__buttonsBlock

    button.circlesDownBtn(end-name='Button') Hover
      .circlesDownBtn__layer
    button.circlesDownBtn._opacityText
      span.circlesDownBtn__text Hover
      .circlesDownBtn__layer
      span.circlesDownBtn__text._hide Button