section.presentWrap
  h1.presentWrap__title Circle Margin Moving Button
  .presentWrap__buttonsBlock

    button.circleMarginMovingBtn
      .circleMarginMovingBtn__startBlock Hover
      .circleMarginMovingBtn__endtBlock
        .circleMarginMovingBtn__endText Butt
        .circleMarginMovingBtn__circleWrap
          .circleMarginMovingBtn__circle
            .circleMarginMovingBtn__circle
              .circleMarginMovingBtn__circle
        .circleMarginMovingBtn__endLetter n