section.presentWrap
  h1.presentWrap__title Circle Bubbles Button
  .presentWrap__buttonsBlock

    button.circleBubblesBtn Hover
      .circleBubblesBtn__moveCircle
      .circleBubblesBtn__moveCircle
      .circleBubblesBtn__moveCircle
      .circleBubblesBtn__mainBubble Button