section.presentWrap
  h1.presentWrap__title Circle Down Buttons
  .presentWrap__buttonsBlock

    button.circleDownBtn(end-name='Button') Hover
    button.circleDownBtn._opacityText
      span.circleDownBtn__text Hover
      span.circleDownBtn__text._hide Button