section.presentWrap
  h1.presentWrap__title Connect Button
  .presentWrap__buttonsBlock

    button.connectBtn
      .connectBtn__wire
      .connectBtn__wire
      .connectBtn__toggleBlock
      .connectBtn__toggleBlock
      .connectBtn__innerWrap
        span.connectBtn__InnerText Hover
        span.connectBtn__InnerText Button