section.presentWrap
  h1.presentWrap__title Coridor Buttons
  .presentWrap__buttonsBlock

    button.coridorBtn._out
      .coridorBtn__innnerWrap
        span.coridorBtn__innerName Out
    button.coridorBtn._inner
      .coridorBtn__innnerWrap
        span.coridorBtn__innerName Inner