section.presentWrap
  h1.presentWrap__title Expanding Button
  .presentWrap__buttonsBlock

    button.expandingBtn
      .expandingBtn__bgRect
      .expandingBtn__bgRect
      .expandingBtn__inner
        .expandingBtn__sideBlock
          span.expandingBtn__sideName Hover.
        .expandingBtn__mainBlock
          .expandingBtn__angle._top_left
          .expandingBtn__angle._top_right
          .expandingBtn__angle._bottom_left
          .expandingBtn__angle._bottom_right
          .expandingBtn__startNameWrap
            span.expandingBtn__startName Hover.
            .expandingBtn__underline
            .expandingBtn__startSlide
          .expandingBtn__endNameWrap
            span.expandingBtn__endName Button.
            .expandingBtn__underline
            .expandingBtn__endSlide