section.presentWrap
  h1.presentWrap__title Gradient Text Button
  p.presentWrap__link Basis by: 
    a(href="https://codepen.io/TajShireen/pen/YzZmbep?editors=1100") Shireen Taj
  .presentWrap__buttonsBlock

    button.gradientTxtBtn
      span.gradientTxtBtn__text Hover