section.presentWrap
  h1.presentWrap__title Gradient Border Buttons
  .presentWrap__buttonsBlock

    button.gradientBorderBtn._rainbow
      .gradientBorderBtn__inner Button
    button.gradientBorderBtn._matte._radius
      .gradientBorderBtn__inner Button