section.presentWrap
  h1.presentWrap__title Layered Buttons
  p.presentWrap__link Design by: 
    a(href="https://unblast.com/free-rose-text-effect-psd/") State 7
  p.presentWrap__link Basis by: 
    a(href="https://codepen.io/TajShireen/pen/abzmoRE") Shireen Taj
  p.presentWrap__link Google font-family: 
    a(href="https://fonts.googleapis.com/css?family=Charmonman%7CEngagement%7CBaloo+Bhai%7CUbuntu:700%7CNiconne&display=swap") 'Niconne'
  .presentWrap__buttonsBlock._column
    button.layeredBtn._big Button
    button.layeredBtn._big._anim Button

    button.layeredBtn._mid Button
    button.layeredBtn._mid._anim Button

    button.layeredBtn._sm Button
    button.layeredBtn._sm._anim Button