section.presentWrap
  h1.presentWrap__title Move Bg Button
  .presentWrap__buttonsBlock

    button.moveBgBtn
      .moveBgWrap
        .moveBgWrap__leftBg
        .moveBgWrap__rightBg
      span.moveBgButton__text Hover