section.presentWrap
  h1.presentWrap__title Neomorphic Buttons
  .presentWrap__buttonsBlock

  button.neomorphicButton._keyboard(neomorphic-key='NEOMORPHIC')
  button.neomorphicButton._light Neomorphic
  .neomorphicWrap
    button.neomorphicButton._dark Neomorphic