section.presentWrap
  h1.presentWrap__title Neomorphic Buttons
  .presentWrap__buttonsBlock

  button.neomorphicBtn._keyboard(neomorphic-key='NEOMORPHIC')
  button.neomorphicBtn._light Neomorphic
  .neomorphicWrap
    button.neomorphicBtn._dark Neomorphic