section.presentWrap
  h1.presentWrap__title Petal Word Button
  .presentWrap__buttonsBlock

    button.petalWordBtn
      .petalWordBtn__petalWrap
      .petalWordBtn__text._start Hover
      .petalWordBtn__text._end
        .petalWordBtn__startEnd Butt
        .petalWordBtn__lastLetter n