section.presentWrap
  h1.presentWrap__title Rattle Button
  p.presentWrap__link Basis by: 
    a(href="https://codepen.io/tylergaw/pen/wvaEgr") Tyler Gaw
  .presentWrap__buttonsBlock
    button.rattleBtn
      span.rattleBtn__text Ruttle Button