section.presentWrap
  h1.presentWrap__title Rhomb Button
  .presentWrap__buttonsBlock

    button.rhombBtn
      .rhombBtn__rhombWrap
        .rhombBtn__rhomb
          .rhombBtn__square
          .rhombBtn__square
          .rhombBtn__square
          .rhombBtn__square
      .rhombBtn__text._start Hover
      .rhombBtn__text._end Button