section.presentWrap
  h1.presentWrap__title Slice Shadow Buttons
  .presentWrap__buttonsBlock

    button.sliceShadowBtn._lr
      .sliceShadowBtn__text Hover
      .sliceShadowBtn__sliceWrap
      .sliceShadowBtn__text._end Button
    button.sliceShadowBtn._rl
      .sliceShadowBtn__text Hover
      .sliceShadowBtn__sliceWrap
      .sliceShadowBtn__text._end Button