section.presentWrap
  h1.presentWrap__title Square Angle Steps Button
  .presentWrap__buttonsBlock

    button.squareAngleStepsBtn Hover
      .squareAngleStepsBtn__line
        .squareAngleStepsBtn__squareWrap
          .squareAngleStepsBtn__square
      .squareAngleStepsBtn__line
        .squareAngleStepsBtn__squareWrap
          .squareAngleStepsBtn__square
      span.squareAngleStepsBtn__text Button