section.presentWrap
  h1.presentWrap__title Trinity Button
  .presentWrap__buttonsBlock

    button.trinityBtn
      .trinityBtn__circleWrap
        .trinityBtn__circleMain
          .trinityBtn__circle
      .trinityBtn__text._start Hover
      .trinityBtn__text._end Button