section.presentWrap
  h1.presentWrap__title Typing Button
  .presentWrap__buttonsBlock

    button.typingBtn
      span.typingBtn__startText Hover
      span.typingBtn__endText
        each val in ['B', 'U', 'T', 'T', 'O', 'N']
          span.typingBtn__letter= val