/*____________________________________________________________
# Circle Margin Moving Button Variables
____________________________________________________________*/
$circleMarginMovingBtnWidth: 200px;
$circleMarginMovingBtnHeight: calc($circleMarginMovingBtnWidth / 100) * 32.5;

$circleMarginMovingBtnFontSize: calc($circleMarginMovingBtnHeight / 2.32);

$circleMarginMovingBtnSpeed: .2s;

/*____________________________________________________________
# Circle Margin Moving Button
____________________________________________________________*/
.circleMarginMovingBtn {
  position: relative;
  margin: 20px;
  width: $circleMarginMovingBtnWidth;
  height: $circleMarginMovingBtnHeight;
  font-family: 'Roboto Slab';
  font-size: $circleMarginMovingBtnFontSize;
  font-weight: 900;
  overflow: hidden;
  cursor: pointer;
  transition-delay: 0s;
  text-transform: uppercase;
  
  &:hover {
    .circleMarginMovingBtn__endtBlock {
      opacity: 1;
    }
    .circleMarginMovingBtn__circleWrap {
      opacity: 1;
    }
    .circleMarginMovingBtn__circle {
      animation: circleMarginMovingAnimation 2.2s infinite;
    }
  }
}
.circleMarginMovingBtn__startBlock,
.circleMarginMovingBtn__endtBlock {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: $circleMarginMovingBtnHeight;
  background-color: #a10015;
  transition: opacity $circleMarginMovingBtnSpeed;
}
.circleMarginMovingBtn__endtBlock {
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  width: auto;
  opacity: 0;
}
.circleMarginMovingBtn__endText,
.circleMarginMovingBtn__endLetter {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.circleMarginMovingBtn__circleWrap {
  display: inline-block;
  height: $circleMarginMovingBtnHeight;
  width: $circleMarginMovingBtnHeight;
  opacity: 0;
}
.circleMarginMovingBtn__circle {
  position: relative;
  margin: 0 auto;
  height: 50%;
  width: 50%;
  border-radius: 100%;
  border: calc(#{$circleMarginMovingBtnWidth} * .005) solid #efeee9;
}

@keyframes circleMarginMovingAnimation {
  0%  	{margin: 0 25%;}
  25% 	{margin: 50% 25%;}
  50% 	{margin: 25% 0;}
  75% 	{margin: 25% 50%;}
  100%  {margin: 0 25%;}
}