/*____________________________________________________________
# Circle Center Button Variables
____________________________________________________________*/
$circlesCenterColors: (#16ffbd, #f070a1, #c34271);

$circlesCenterBtnWidth: 200px;
$circlesCenterBtnHeight: calc($circlesCenterBtnWidth / 100) * 32.5;

$circlesCenterBtnFontSize: calc($circlesCenterBtnHeight / 2.03125);
$circlesCenterBtnTextShadow: calc($circlesCenterBtnFontSize / 16);

$circlesCenterBtnSpeed: .3s;
$circlesCenterBtnDelay: calc($circlesCenterBtnSpeed / 1.5);
$circlesCenterBtnDelayDeductible: calc($circlesCenterBtnSpeed / 3);

/*____________________________________________________________
# Circle Center Button
____________________________________________________________*/
.circlesCenterBtn {
  position: relative;
  margin: 20px;
  width: $circlesCenterBtnWidth;
  height: $circlesCenterBtnHeight;
  background-color: #cb2d6f;
  overflow: hidden;
  cursor: pointer;
  
  &:hover {
    .circlesCenterBtn__circle {
      width: calc(#{$circlesCenterBtnWidth} + (#{$circlesCenterBtnWidth} / 20));
      height: calc(#{$circlesCenterBtnWidth} + (#{$circlesCenterBtnWidth} / 20));
      
      @for $i from 1 through length($circlesCenterColors) {
        &:nth-child(#{$i}) {
          transition-delay: calc((#{$circlesCenterBtnDelay} * #{$i}) - #{$circlesCenterBtnDelayDeductible});
        }
      }
    }
    .circlesCenterBtn__text {
      &._end {
        opacity: 1;
        transition-delay: calc(#{$circlesCenterBtnDelay} * #{length($circlesCenterColors)});
      }
    }
  }
}
.circlesCenterBtn__circleWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circlesCenterBtn__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: width $circlesCenterBtnSpeed, height $circlesCenterBtnSpeed;

  @for $i from 1 through length($circlesCenterColors) {
    &:nth-child(#{$i}) {
      background-color: nth($circlesCenterColors, $i);
      transition-delay: calc(-#{$circlesCenterBtnDelay} * #{$i} + ((#{$circlesCenterBtnDelay} * #{length($circlesCenterColors)}) + (#{$circlesCenterBtnDelay} / 2)));
    }
  }
}

.circlesCenterBtn__text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: $circlesCenterBtnHeight;
  font-family: 'Roboto Slab';
  font-size: $circlesCenterBtnFontSize;
  font-weight: 900;
  color: #FFF5C3;
  text-shadow: $circlesCenterBtnTextShadow $circlesCenterBtnTextShadow $circlesCenterBtnTextShadow #000;
  transition: opacity .2s;

  &._end {opacity: 0; transition-delay: 0s;}
}