html
  head
    include assets/template/head.pug
    include assets/template/fonts.pug
    link(rel="stylesheet", href="assets/css/style.css")
    base(target="_blank")
  body
    //- Container
    .container
      h1.mainTitle Hover Animation Buttons Pack

      //-- Slide Buttons
      include assets/template/partials/buttons/slideBtn.pug

      //--  Border Break Point Buttons
      include assets/template/partials/buttons/borderBreakPointBtn.pug

      //--  Glitch Button
      include assets/template/partials/buttons/glitchBtn.pug

      //--  Neomorphic Buttons
      include assets/template/partials/buttons/neomorphicBtn.pug

      //--  Layered Buttons
      include assets/template/partials/buttons/layeredBtn.pug

      //--  Rattle Button
      include assets/template/partials/buttons/rattleBtn.pug

      //--  Arrow Buttons
      include assets/template/partials/buttons/arrowBtn.pug

      //--  Rainbow Buttons
      include assets/template/partials/buttons/rainbowBtn.pug

      //--  Expanding Button
      include assets/template/partials/buttons/expandingBtn.pug

      //--  Circle Button
      include assets/template/partials/buttons/circleBtn.pug

      //--  Gradient Button
      include assets/template/partials/buttons/gradientBtn.pug

      //--  Border Fill Buttons
      include assets/template/partials/buttons/borderFillBtn.pug

      //--  Gradient Border Buttons
      include assets/template/partials/buttons/gradientBorderBtn.pug

      //--  Angle Move Button
      include assets/template/partials/buttons/angleMoveBtn.pug

      //--  Rays Button
      include assets/template/partials/buttons/raysBtn.pug