html
  head
    include assets/template/head.pug
    link(rel="stylesheet", href="assets/css/style.css")
  body
    //- Container
    .container
      h1.mainTitle Hover Animation Buttons Pack

      section.presentWrap
        h1.presentWrap__title Test
        .presentWrap__buttonsBlock