html
  head
    include assets/template/head.pug
    include assets/template/fonts.pug
    link(rel="stylesheet", href="assets/css/style.css")
    base(target="_blank")
  body
    //- Container
    .container
      h1.mainTitle Hover Animation Buttons Pack

      //-- Slide Buttons
      include assets/template/partials/buttons/slideBtn.pug

      //--  Border Break Point Buttons
      include assets/template/partials/buttons/borderBreakPointBtn.pug

      //--  Glitch Button
      include assets/template/partials/buttons/glitchBtn.pug

      //--  Neomorphic Buttons
      include assets/template/partials/buttons/neomorphicBtn.pug

      //--  Layered Buttons
      include assets/template/partials/buttons/layeredBtn.pug

      //--  Rattle Button
      include assets/template/partials/buttons/rattleBtn.pug

      //--  Arrow Buttons
      include assets/template/partials/buttons/arrowBtn.pug

      //--  Rainbow Buttons
      include assets/template/partials/buttons/rainbowBtn.pug

      //--  Expanding Button
      include assets/template/partials/buttons/expandingBtn.pug

      //--  Circle Button
      include assets/template/partials/buttons/circleBtn.pug

      //--  Gradient Button
      include assets/template/partials/buttons/gradientBtn.pug

      //--  Border Fill Buttons
      include assets/template/partials/buttons/borderFillBtn.pug

      //--  Gradient Border Buttons
      include assets/template/partials/buttons/gradientBorderBtn.pug

      //--  Angle Move Button
      include assets/template/partials/buttons/angleMoveBtn.pug

      //--  Rays Button
      include assets/template/partials/buttons/raysBtn.pug

      //--  Split Gradient Buttons
      include assets/template/partials/buttons/splitGradientBtn.pug

      //--  Receding Split Gradient Buttons
      include assets/template/partials/buttons/recedingSplitGradientBtn.pug

      //--  Move Bg Button
      include assets/template/partials/buttons/moveBgBtn.pug

      //--  Shrinking Border Buttons
      include assets/template/partials/buttons/shrinkingBorderBtn.pug

      //--  Move Border Button
      include assets/template/partials/buttons/moveBorderBtn.pug

      //--  Moving Stripes Buttons
      include assets/template/partials/buttons/movingStripesBtn.pug

      //--  Typing Button
      include assets/template/partials/buttons/typingBtn.pug

      //--  Opacity Flip Button
      include assets/template/partials/buttons/opacityFlipBtn.pug

      //--  Flip Button
      include assets/template/partials/buttons/flipBtn.pug

      //--  Coridor Buttons
      include assets/template/partials/buttons/coridorBtn.pug

      //--  Pushing Button
      include assets/template/partials/buttons/pushingBtn.pug

      //--  Slice Buttons
      include assets/template/partials/buttons/sliceBtn.pug

      //--  Flick Button
      include assets/template/partials/buttons/flickBtn.pug

      //--  Rails Button
      include assets/template/partials/buttons/railsBtn.pug

      //--  Dots Button
      include assets/template/partials/buttons/dotsBtn.pug

      //--  Circle Down Buttons
      include assets/template/partials/buttons/circleDownBtn.pug

      //--  Circles Down Buttons
      include assets/template/partials/buttons/circlesDownBtn.pug

      //--  Pseudo Side Button
      include assets/template/partials/buttons/pseudoSideBtn.pug

      //--  Bubbles Button Button
      include assets/template/partials/buttons/bubblesBtn.pug

      //--  Circle Bubbles Button
      include assets/template/partials/buttons/circleBubblesBtn.pug

      //--  Square Steps Button
      include assets/template/partials/buttons/squareStepsBtn.pug

      //--  Square Angle Steps Button
      include assets/template/partials/buttons/squareAngleStepsBtn.pug

      //--  Connect Button
      include assets/template/partials/buttons/connectBtn.pug

      //--  Circle Margin Moving Button
      include assets/template/partials/buttons/circleMarginMovingBtn.pug

      //--  Rhomb Button
      include assets/template/partials/buttons/rhombBtn.pug

      //--  Rotate Tunnel Button
      include assets/template/partials/buttons/rotateTunnelBtn.pug

      //--  Dragon Teeth Button
      include assets/template/partials/buttons/dragonTeethBtn.pug

      //--  Slice Shadow Button
      include assets/template/partials/buttons/sliceShadowBtn.pug

      //--  Envelope Buttons
      include assets/template/partials/buttons/envelopeBtn.pug

      //--  Flower Button
      include assets/template/partials/buttons/flowerBtn.pug

      //--  Corridor Move Button
      include assets/template/partials/buttons/corridorMoveBtn.pug

      //--  Envelope Square Buttons
      include assets/template/partials/buttons/envelopeSquareBtn.pug

      //--  Absorbing Circle Button
      include assets/template/partials/buttons/absorbingCircleBtn.pug

      //--  Rotating Rhomb Button
      include assets/template/partials/buttons/rotatingRhombBtn.pug

      //--  Target Button
      include assets/template/partials/buttons/targetBtn.pug

      //--  Window Buttons
      include assets/template/partials/buttons/windowBtn.pug

      //--  Trinity Button
      include assets/template/partials/buttons/trinityBtn.pug

      //--  Upper Buttons
      include assets/template/partials/buttons/upperBtn.pug

      //--  Circle Center Button
      include assets/template/partials/buttons/circlesCenterBtn.pug

      //--  Balloon Button
      include assets/template/partials/buttons/balloonBtn.pug

      //--  Circle Item Button
      include assets/template/partials/buttons/circlesItemBtn.pug

      //--  Snake Border Buttons
      include assets/template/partials/buttons/snakeBorderBtn.pug

      //--  Letter Block Buttons
      include assets/template/partials/buttons/letterBlockBtn.pug

      //--  Popup Buttons
      include assets/template/partials/buttons/popupBtn.pug

      //--  Petal Word Button
      include assets/template/partials/buttons/petalWordBtn.pug

      //--  Sun Buttons
      include assets/template/partials/buttons/sunBtn.pug

      //--  Sun Clip Button
      include assets/template/partials/buttons/sunClipBtn.pug

      //--  Sun Clip Blow Buttons
      include assets/template/partials/buttons/sunClipBlowBtn.pug

      //--  Gradient Text Button
      include assets/template/partials/buttons/gradientTxtBtn.pug

      //--  Follow Buttons
      include assets/template/partials/buttons/followBtn.pug

      //--  Vertical Item Move Button
      include assets/template/partials/buttons/verticalItemMoveBtn.pug